/*--The Setup--*/

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --clr-primary-cyan: hsl(179, 62%, 43%);
    --clr-primary-teal: hsl(179, 47%, 52%);
    --clr-primary-yellow: hsl(71, 73%, 54%);

    --clr-neutral-grayish-blue: hsl(218, 22%, 67%);
    --clr-neutral-lite-gray: hsl(204, 43%, 93%);
    --clr-neutral-white: #fff;

    --ff: "Karla", sans-serif;
    --fw-400: 400;
    --fw-700: 700;
    --fs: 1em;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font: var(--fw-400) var(--fs) var(--ff);
    background-color: var(--clr-neutral-lite-gray);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

p, h1 {
overflow-wrap: break-word;
}

/*--Container CSS--*/

.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 20.5em;
    margin: 1.5em;
    box-shadow: 1px 1px 20px 1px hsl(209, 46%, 86%);
}

/*--Section CSS--*/

section {
    padding: 1em 1.5em 1.5em;
}

.col1 {
    border-radius: 5px 5px 0 0;
}

.col3 {
    border-radius: 0 0 5px 5px;
}

/*--Other CSS Applications--*/

.col1 h1 {
    font-size: 1.35em;
}

h1, .header, .hook, .body-text {
    padding: 0.5em 0;
}

.col1 .body-text {
    font-size: 0.9em;
    line-height: 1.8;
}

.col2 .price {
    font-size: 2em;
}

.col2 span { /*--"per month" element--*/
    font-size: initial;
    vertical-align: 30%;
    padding-left: 11px;
}

.col2 button {
    font: inherit;
    border: none;
    width: 100%;
    padding: 0.8em;
    margin-top: 1.5em;
    border-radius: 5px;
    box-shadow: 0 5px 10px 3px hsl(168, 53%, 41%);
    background-color: var(--clr-primary-yellow);
}

.col3 ul {
    margin: 0;
    padding: 0.3em 0 0 0;
}

.col3 ul li {
    list-style: none;
    font-size: 0.85em;
}

/*--Utility Classes--*/

.header {
    font-size: 1.1em;
}

.white-text {
    color: var(--clr-neutral-white);
}

.gray-text {
    color: var(--clr-neutral-lite-gray);
}

.blue-gray-text {
    color: var(--clr-neutral-grayish-blue);
}

.teal-text {
    color: hsl(179, 55%, 56%);
}

.cyan-text {
    color: var(--clr-primary-cyan);
}

.yellow-text {
    color: var(--clr-primary-yellow);
}

.bg-white {
    background-color: var(--clr-neutral-white);
}

.bg-cyan {
    background-color: var(--clr-primary-cyan);
}

.bg-blue {
    background-color: var(--clr-primary-teal);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-100 {
    font-weight: 100;
}

/*--Footer Attribution--*/

footer {
    position: fixed;
    bottom: 0; 
}

.attribution { 
    font-size: 1em; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*--Media Query--*/

@media (min-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        min-width: 40em;
    }
    section {
        padding: 2em 2.5em;
    }
    .col1 {
        grid-column: span 2;
        border-radius: 8px 8px 0 0;
    }
    .col2 {
        grid-column: 1 / 2;
        border-radius: 0 0 0 8px;
    }
    .col3 {
        grid-column: 2 / -1;
        border-radius: 0 0 8px 0;
    }
    .hook {
        padding-bottom: 0;
    }
    .body-text {
        padding-top: 0.3em;
        font-size: 1em;
    }
}